/* ===== TIPOGRAFÍAS ===== */
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&family=Share+Tech&display=swap');

/* ===== GENERAL ===== */
body {
    margin: 0;
    padding: 0;
    font-family: "Preahvihear", sans-serif;
    background-color: #EDDAC5;
}

/* ===== NAVBAR ===== */
nav {
    background-color: #D6EE95;
    padding: 18px;
    display: flex;
    justify-content: center;
    gap: 25px;
    border-bottom: 2px solid black;
}

.nav-btn {
    background: #D9D9D9;
    padding: 12px 25px;
    border-radius: 44px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 18px;
}

.nav-btn.activo {
    color: #FFA9A9;
    font-family: "Share Tech", sans-serif;
    border-color: #FFA9A9;
}

/* ===== OCULTAR ===== */
.oculto {
    display: none !important;
}

/* ===== PANTALLAS ===== */
.pantalla {
    display: none;
    padding: 30px;
}

.pantalla:not(.oculto) {
    display: block;
}

/* ===== TARJETAS ===== */
.producto {
    background: white;
    border-radius: 44px;
    border: 2px solid black;
    padding: 20px;
    margin: 25px auto;
    max-width: 450px;
    box-shadow: 4px 4px 0px #00000030;
}

.producto h3 {
    margin: 0;
    font-size: 22px;
}

.producto button {
    background: #D9D9D9;
    padding: 10px 20px;
    border-radius: 44px;
    border: 2px solid black;
    cursor: pointer;
}

/* ===== FORMULARIOS ===== */
input, textarea {
    width: 90%;
    padding: 14px;
    margin: 10px 0;
    border-radius: 44px;
    border: 2px solid black;
    font-family: "Preahvihear";
}

textarea {
    height: 120px;
    resize: none;
}

/* ===== BOTONES ESPECIALES ===== */
button.especial {
    background: #D6EE95;
    border: 2px solid black;
    border-radius: 44px;
    padding: 12px 30px;
}

/* ===== TITULOS ===== */
h1 {
    text-align: center;
}
